# .travis.xml for use with EPICS Base ci-scripts
# (see: https://github.com/epics-base/ci-scripts)

language: cpp
compiler: gcc
dist: trusty

cache:
  directories:
  - $HOME/.cache

env:
  global:
    - SETUP_PATH=.ci-local:.ci
    - MODULES="asyn calc motor"
    - ASYN_HOOK=.ci-local/fix_RELEASE.sh
    - CALC_HOOK=.ci-local/fix_RELEASE.sh
    - MOTOR_REPOURL=https://github.com/EuropeanSpallationSource/motor.git
    - MOTOR_HOOK=.ci-local/fix_RELEASE.sh
    - MOTOR=ess-master R7-1
    - TEST=YES
    - VV=1

addons:
  apt:
    packages:
    - libreadline6-dev
    - libncurses5-dev
    - perl
    - clang
    - g++-mingw-w64-i686
    - g++-mingw-w64-x86-64
    - qemu-system-x86
    - libpcre3-dev
  homebrew:
    packages:
    - re2c
    - bash
    update: true

install:
  - .ci/travis/prepare.sh
  - .ci-local/fix_RELEASE.sh

script:
  - .ci/travis/build.sh

matrix:
  include:
  - env: BASE=7.0 MOTOR=ess-master

  - env: BASE=7.0 MOTOR=R7-1

#  - env: BASE=7.0 STATIC=YES
#    compiler: clang

# MacOS
#  - env: BASE=7.0
#    os: osx
#    compiler: clang
